---
---

.events-site {
    background: #eee;

    .color-header:after {
        background: #107b1e url('../img/events/header-image.jpg') center center no-repeat;
        background-size: cover;
    }

    .color-header-content {
        background: #107b1e;
        color: #fff;
    }
}

.events {
    list-style: none;

    li {
        display: block;
        width: 100%;

        .event-logo {
            max-width: 300px;
        }

        .event-logo, .event-info {
            margin: auto;
            text-align: center;
        }

        h3, h4 {
            text-align: center;
        }

        h4 {
            color: #107b1e;
        }

        .event-image {
            text-align: center;

            img {
                max-width: 90%;
            }
        }
    }
}

#register-form {
    position: relative;
}

#register-thank-you {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;

    .m-message-global {
        width: 80%;
        margin: 2em auto;
    }
}
.metrum-form {
    section {
        margin-bottom:32px;
    }
}
