---
---

@import 'slides';

.recruiters {
    background: #35769e;
    margin-top: 1em;
    padding: 1em;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
        display: inline-block;
        width: 32%;
        color: #fff;
        border: 0;
        text-align: center;
        flex: 1 1 250px;
        padding-bottom: 1em;
        margin-bottom: 1em;

        &:last-of-type {
            border: 0;
        }

        img {
            width: 200px;
            height: 200px;
            margin: auto;
            border-radius: 100px;
        }

        .recruiter-name {
            padding: 0;

            a {
                color: #c0e1ff;
                display: inline-block;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media only screen and (min-width: 48em) {
    .recruiters li {
        border-right: 1px solid #fff;
    }
}

.color-header-content {
    background: #35769e;
}

#job-offers {
    list-style: none;

    li {
        a, a:focus, a:visited {
            color: #00a790;
            text-decoration: none;
            line-height: 27px;
            font-size: 18px;
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin: 0;
            height: 50px;
        }

        a:hover {
            color: #7fdcca;
        }

        span {
            cursor: pointer;

            &.city {
                color: #000;
            }
        }
    }
}

#job-offers-title {
    font-size: 32px;
    font-weight: 400;
    margin: 0 0 0.5em;
}

.recruitment-img {
    float: right;
    position: relative;
    z-index: 20;
    margin: 1rem 0 0;

    img {
        width: 400px;
        height: 300px;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        width: 100px;
        height: 100px;
        background: #1961ac;
        top: 0;
        right: 0;
        margin: -10px -10px 0 0;
    }

    &.recruitment-img-right {
        float: left;

        &:after {
            right: auto;
            left: 0;
            margin: -10px 0 0 -10px;
        }
    }
}

.recruitment-box {
    background: #1961ac;
    padding: 2rem 15rem 2rem 4rem;
    width: 46%;
    margin: 6rem 0 2rem;

    h3, p {
        color: #fff;
    }

    &.recruitment-box-right {
        padding: 2rem 4rem 2rem 15rem;
        margin-left: 33%;
    }
}

#workshop, #workshop-img:after {
    background: #13a538;
}

#algo, #algo-img:after {
    background: #915ea0;
}

#hr-leader, #hr-leader-img:after {
    background: #fac314;
}

@media only screen and (max-width: 52em) {
    .recruitment-img, .recruitment-img.recruitment-img-right {
        float: none;
        width: 90%;
        height: 150px;
        overflow: hidden;
        margin: 2rem auto 0;

        img {
            width: auto;
            height: auto;
            margin-top: -25%;
        }

        &:after {
            display: none;
        }
    }

    .recruitment-box, .recruitment-box.recruitment-box-right {
        width: 90%;
        margin: 0 auto 2rem;
        padding: 2rem;
    }
}

@media only screen and (max-width: 48em) {
    #job-offers li {
        border-bottom: 1px solid #ddd;
        padding: 1rem 0;

        a {
            flex-wrap: wrap;
            height: auto;

            span {
                flex: 1 1 100%;
            }
        }
    }
}
