---
---
.desk {
    padding: 24px 0;
    background: #eee;
}

.m-card {
    background-color: #fff;
    padding: 16px;
    margin: 1em auto;
    max-width: 960px;
}

.m-card + .m-card {
    margin-top: 8px;
}

a:link {
    color: #00a790;
    text-decoration: none;
}

a:visited {
    color: #006456;
}

a:hover {
    color: #54cab6;
}

a:active {
    color: #7fdcca;
}

@media only screen and (min-width: 48em) {
    .desk {
        padding: 16px;
    }
    .m-card {
        padding: 16px;
    }
}

@media only screen and (min-width: 62em) {
    .desk {
        padding: 24px 0;
    }
    .m-card {
        padding: 24px;
    }
}
