---
---

@import "_footer";

.opensource-content {
    background: #333 url("../img/opensource/bg-slider.jpg") no-repeat 50% 0;
    background-size: contain;
}

.main-grid {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;

    > section {
        margin: 1em 0;
    }
}

.ranking-grid {
    width: 100%;
    display: flex;

    > * {
        flex: 1;
    }
}

.featured-grid {
    display: flex;
    flex-flow: column;
}

// manifesto

.section-featured-projects {
    order: -1;
    flex: 1 100%;
}

.section-opensource-manifesto .content {
    background-color: #fff;
    border-radius: 3px;
    padding: 50px 60px 40px 46px;
    line-height: 28px;
}

.section-opensource-manifesto .section-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    margin: 0 0 1em;
}

// featured box
.section-featured-projects-box {
    background-color: #fd5f46;
    border-radius: 3px;
}

//
.section-projects-ranking {
    background-color: #33beb9;
}

.authors-box {
    background-color: #51cf8f;
}

//
.section-more-projects {
    max-width: 940px;
    margin: 0 auto;
    color: #fff;
}

.more-projects-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;

    > li {
        width: 32%;
        background-color: #555;
        margin-bottom: 2%;
    }

    a {
        color: #fff;
        text-decoration: none;
    }
}

.repo-box {
    padding: 1.5em;
}


.section-twitter > header {
    background: #333;
}

@media all and (min-width: 320px) {
    .section-twitter > header {
        background: #545a61 url('../img/top-bg.jpg') no-repeat top center;
    }
}

.section-twitter {
    position: relative;
}

.section-twitter > header {
    padding: 3em 0 1em;
    color: #fff;
    font-weight: 300;
}

.section-twitter section {
    background-color: #f3f3f3;
    padding: 2em 0;
}

@media all and (min-width: 480px) {
    .section-twitter > header {
        font-size: 2rem;
    }
}

.star-gazers a:before {
    content: '★ ';
    font-size: 100%;
    line-height: 1;
}
