html, body, ul, li, .site-header h1, .site-header p {
    padding: 0;
    margin: 0;
}

body {
    background: #fff url(../img/pixel22.jpg) no-repeat;
    font: 1em/1.3 Arial, sans-serif;
    background-attachment: fixed;
    background-size: cover;
}

.content {
    max-width: 940px;
    padding: 0 20px;
    margin: 0 auto;
}

html, body {
    height: 100%;
}

.site-header {
    padding: 1em 0;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.site-header img {
    width: 120px;
    height: 40px;
    display: block;
}

.site-nav {
    margin-top: 60px;
}

.site-navlist {
    list-style: none;
}

.site-navlist > li {
    margin: 20px 0 20px 28px;
}

.site-navlist > li > a {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #4e4e4e;
    color: rgba(255, 255, 255, .9);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font: normal 11px/1.1 Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    transition: all 1s ease;
}

.site-navlist > li > a:hover,
.site-navlist > li > a:focus {
    background-color: #FF5A00;
    color: rgba(255, 255, 255, .9);
}

.section-opensource {
    background: rgba(22, 22, 22, 0.4);
}

.section-opensource,
.section-twitter {
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.section-opensource > header,
.section-twitter > header {
    background-size: 2px 2px;
    padding: 3em 0;
    color: #fff;
    text-shadow: 1px 1px 0 #444;
}

.section-opensource section {
    background: rgba(232, 247, 253, 0.79);
    padding: 2em 0;
}

.section-twitter section {
    background-color: rgba(255, 255, 255, 0.89);
    padding: 2em 0;
}

.section-title {
    margin: 1.5em 0;

}

.repos-section {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
}

.repos-box {
    margin: 0 10px;
    -webkit-flex: 1 1 200px;
    flex: 1 1 200px;
    border-radius: 5px;
}

.repos-box li {
    background: #444;
    color: #fff;
    margin: 15px 0;
    padding: 10px;
    border-radius: 0.3em;
}

.repos-box li a {
    color: inherit;
}

.repos-box > h3 {
    font: 800 18px/1.1 Arial, sans-serif;
    padding: 0 2em 0 0;
    color: #292f33;
    margin: 0;
    padding: 1em 0 0;
}

.repos-box > ul {
    list-style: none;
}

.repo-box {
    position: relative;
}

.repo-box > header {
    max-width: 200px;
}

.repo-box > header:after {
    content: '';
    clear: both;
    display: table;
}

.repo-box h4 {
    margin: 0;
    float: left;
    line-height: 1.4;
}

.repo-box a {
    color: #9B3600;
    text-decoration: none;
}

.repo-box a:hover,
.repo-box a:focus {
    text-decoration: underline;
}

.star-gazers {
    margin: 0;
    float: right;
}

.star-gazers span {
    font-size: 22px;
    color: #ed3800;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
}

.repo-description {
    font-size: 12px;
}

.site-footer {
    background: #222;
    padding: 1em 0;
}

.site-footer, .site-footer a {
    color: #fff;
    text-decoration: none;
}

.site-footer li {
    list-style: none;
    display: inline-block;
    font-size: 90%;
}

.site-footer li + li:before {
    content: ' • ';
    color: #aaa;
}

.github-icon-svg,
.twitter-icon-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
}

