---
---

@import "_header";
@import "_footer";

html,
body,
ul,
li {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: #fff;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1.6em;
    line-height: 1.5;
    color: #333;
}

.responsive-content {
    padding: 1em;
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-row-gap: 0.5em;
    grid-template-areas:
        "a b c d";

    @media all and (max-width: 900px) {
        grid-template-areas:
            "a a a a"
            "b b c c"
            "d d d d";
    }

    @media all and (max-width: 400px) {
        grid-template-areas:
            "a a a a"
            "b b b b"
            "c c c c"
            "d d d d";
    }
}

.main-item {
    grid-column-start: center;
    grid-area: auto / b / auto / c;
    align-self: start;
    justify-self: stretch;
}

.content {
    max-width: 940px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

h2 {
    font-weight: 300;
    margin-top: 0;
}

a:link {
    color: #00a790;
    text-decoration: none;
}

a:visited {
    color: #006456;
}

a:hover {
    color: #54cab6;
}

a:active {
    color: #7fdcca;
}


.title {
    font-size: 2em;
    font-weight: 100;
    margin: 24px 0;
}

.color-header-content {
    max-width: 900px;
    margin: 161px auto 0;
    background: #35769e;
    padding: 32px;
    color: #fff;
    z-index: 20;

    h2 {
        font-weight: 100;
        font-size: 32px;
        margin: 0 0 1em;
    }
}

.video-wrapper {
    width: 100%;
    max-width: 560px;
    margin: auto;

    & > div {
        position: relative;
        padding-top: 56.25%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &.wide {
        max-width: 100%;
    }
}

.anchor {
    a {
        opacity: 0;

        &:hover {
            opacity: 1;
        }
    }
}
