---
---

@import "_header";
@import "_footer";

html,
body,
ul,
li {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: #fff;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1.6em;
    line-height: 1.5;
    color: #333;
}

.content {
    max-width: 940px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

h2 {
    font-weight: 300;
    margin-top: 0;
}

.title {
    font-size: 2em;
    font-weight: 100;
    margin: 24px 0;
}

.color-header-content {
    max-width: 900px;
    margin: 161px auto 0;
    background: #35769e;
    padding: 32px;
    color: #fff;
    z-index: 20;

    h2 {
        font-weight: 100;
        font-size: 32px;
        margin: 0 0 1em;
    }
}

.video-wrapper {
    width: 100%;
    max-width: 560px;
    margin: auto;

    & > div {
        position: relative;
        padding-top: 56.25%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &.wide {
        max-width: 100%;
    }
}

.anchor {
  a {
    opacity:0;
    &:hover {
      opacity:1;
    }
  }
}
