@font-face {
    font-family: 'socicon';
    font-style: normal;
    font-weight: 400;
    src: local('socicon'),
    url(../font/socicon/font/socicon.woff2) format('woff2'),
    url(../font/socicon/font/socicon.woff) format('woff'),
    url(../font/socicon/font/socicon.ttf) format('truetype'),
    url(../font/socicon/font/socicon.svg#socicon) format('svg');
    text-transform: initial;
}

html, body, ul, li, .site-header h1, .site-header p {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: #fff;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1.6em;
    line-height: 1.5;
    color: #333;
}

.socicon {
    position: relative;
    top: -3px;
    display: inline-block;
    font-family: 'socicon';
    font-style: normal;
    font-weight: normal;
    font-size:2.4rem;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color:#bbb;
}
.socicon:empty{
    width: 1em;
}

.socicon-twitter:before { content: "a"; }
.socicon-facebook:before { content: "b"; }
.socicon-google:before { content: "c"; }
.socicon-github:before { content: "Q"; }
.socicon-rss:before { content: ","; }
.socicon-slideshare:before { content: "8"; }
.socicon-meetup:before { content: "]"; }
.socicon-mail:before { content: "@"; }

.icon-link:hover .socicon {
    opacity:.8;
}

.icon-link-text {
    position: absolute;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.content {
    max-width: 940px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.site-header {
    padding: 1em 0;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.site-header h1 {
    display: inline-block;
    max-width: 68%;
}

.site-header img {
    width: 203px;
    height: 40px;
    display: block;
    border: 0;
    max-width: 100%;
}

.site-nav {
    padding: 10px 0 0;
}

@media all and (min-width: 760px) {
    .site-nav {
        float: right;
        padding: 5px 0;
    }
}

.site-navlist {
    list-style: none;
}

.page-link {
    text-decoration: none;
    color: #4ba7f8;
    padding: 5px 15px;
    border-radius: 3px;
}

.page-link:after {
    content: ' ▶';
    font-size: 70%;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 2px 7px;
    font-weight: 100;
}

.page-link:hover,
.page-link:focus {
    color: #fff;
    background: #4ba7f8;

}

.buttons {
    text-align: right;
}

.section-twitter > header,
.post-header,
.section-latest > header {
    background: #333;
}

@media all and (min-width: 320px) {
    .section-twitter > header,
    .post-header,
    .section-blog > header,
    .section-latest > header {
        background: #545a61 url('../img/top-bg.jpg') no-repeat top center;
    }

    .manifesto > header {
        background-image: radial-gradient(#123350, #333);
    }
}

.section-opensource,
.section-twitter {
    position: relative;
}

.section-opensource > header,
.section-twitter > header,
.section-blog > header {
    padding: 3em 0 1em;
    color: #fff;
    font-weight: 300;
}

.section-latest > header {
    padding: 3em 0;

}

.section-opensource section,
.section-latest section,
.section-blog > header {
    padding: 2em 0;
}

.section-twitter section {
    background-color: #f3f3f3;
    padding: 2em 0;
}

.section-title {
    margin: 0;
    font-size: 3rem;
    line-height: 1.1;
    color: #9ef490;
    font-weight: 100;
}

.section-title-opensource {
    color: #333;
}

@media all and (min-width: 480px) {
    .section-title {
        font-size: 6rem;
    }

    .section-opensource > header,
    .section-blog > header,
    .section-twitter > header {
        font-size: 2rem;
    }
}

.repos-section {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
}

.repos-box {
    margin: 0 10px;
    -webkit-flex: 1 1 200px;
    flex: 1 1 200px;
    border-radius: 5px;
}

.repos-box li {
    color: #333;
    margin: 15px 0;
}

.repos-box a {
    color: inherit;
    display: block;
    text-decoration: none;
    padding: 10px;
    background-size: 0;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size .3s ease-out;
}

.repos-box1 a {
    background-color: #90d7f4;
}

.repos-box2 a {
    background-color: #90f5d7
}

.repos-box3 a {
    background-color: #82c7e4
}

.repos-box4 a {
    background-color: #90aaf4
}

.repos-box5 a {
    background-color: #90aaf4
}


.repos-box a:hover,
.repos-box a:focus {
    background-size: 100%;
}

.repos-box1 a:hover,
.repos-box1 a:focus {
    background-image: radial-gradient(rgba(167, 230, 255, 1), #90d7f4);
}

.repos-box2 a:hover,
.repos-box2 a:focus {
    background-image: radial-gradient(rgba(209, 255, 241, 1), #90f5d7);
}

.repos-box3 a:hover,
.repos-box3 a:focus {
    background-image: radial-gradient(rgba(147, 223, 255, 1), #82c7e4);
}

.repos-box4 a:hover,
.repos-box4 a:focus {
    background-image: radial-gradient(rgba(191, 208, 255, 1), #90aaf4);
}

.repos-box .star-gazers a {
    padding: 5px 10px;
}

.repos-box > ul {
    list-style: none;
}

.repo-box {
    position: relative;
    font-size: 1.8rem;
}

.repo-box > header {
    max-width: 200px;
}

.repo-box > header:after {
    content: '';
    clear: both;
    display: table;
}

.repo-box h4 {
    margin: 0;
}

.star-gazers {
    color: #555;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
}

.star-gazers a:before {
    content: '★ ';
    font-size: 150%;
    line-height: 1;
}

.site-footer {
    border-top: 1px solid #ddd;
    padding: 2em 0;
}

.site-footer .site-title {
    margin: 7px 1em;
    display: block;
}

.site-footer .find-us {
	margin: 0px 0.1em;
}

.site-footer .site-title img {
    height: 22px;
    width: 72px;
    vertical-align: middle;
}

.site-footer a {
    color: #999;
    text-decoration: none;
}

.site-footer li {
    list-style: none;
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 1em;
}

.site-footer li span {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}

.github-icon-svg,
.twitter-icon-svg,
.rss-icon-svg {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top: 3px;
    fill: #bbb;
    padding-bottom: 5px;
}

.site-footer a:hover svg,
.site-footer a:focus svg {
    opacity: 0.8
}

.site-footer a:hover span.username,
.site-footer a:focus span.username {
    text-decoration: underline;
}

@media all and (min-width: 760px) {
    .site-footer {
        text-align: right;
    }

    .site-footer .site-title {
        float: left;
    }
}

.author-github-icon-svg,
.author-twitter-icon-svg {
    display: inline-block;
    height: 16px;
    position: relative;
    top: 3px;
    width: 16px;
}

/*========= Blog =====*/

/* Home styles */
/* ----------------------------------------------------------*/

.home h1 {
    margin-bottom: 25px;
}

.posts {
    list-style-type: none;
}

.posts li {
    background: #fff;
    margin: 0 0 30px 0;
    position: relative;
    padding: 20px;
}

.section-posts {
    background: #eee;
    padding: 2em 0;
}

.section-posts h2,
.repos-box > h3 {
    color: #555;
    font-size: 2.4rem;
    font-weight: 400;
    padding: 0 0 1em 0;
    margin: 0;
}

.posts .post-link {
    font-size: 2.4rem;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
}

.posts .post-link:hover,
.posts .post-link:focus {
    color: #4ba7f8;
}

.posts .post-date {
    display: block;
    color: #999;
    border-bottom: 1px solid #ccc;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}

@media all and (min-width: 760px) {
    .section-posts .content {
        padding: 0 140px;
    }

    .section-twitter .content {
        padding: 0;
    }

    .section-twitter iframe {
        margin: 0 auto;
        display: block;
    }

    .posts li {
        margin-left: 70px
    }

    .posts .post-date {
        position: absolute;
        left: -70px;
        width: 70px;
    }

    .posts .post-date strong {
        display: block;
    }
}

.posts .post-meta {
    border-top: 1px solid #eee;
    margin: 20px -20px 0;
    padding: 20px 20px 0 20px;
    color: #555;
    text-align: right;
    overflow: hidden;
}

.posts .post-meta img {
    width: 32px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.posts .post-meta .author {
    margin: 0 5px 5px;
    float: left;
}

.posts .post-meta .author a {
    color: #999;
    font-size: 1.4rem;

}

.posts .post-meta .author a:hover {
    color: #333;
}

.comment-count {
    color: #999;
    font-size: 1.4rem;
    display: inline-block;
}

.comment-count:hover {
    color: #333;
}

/* Post styles */
/* ----------------------------------------------------------*/

.post-content {
    background: #fff;
    padding: 2em 0;
}

.post-content table {
    width: 100%;
}

.post-content table,
.post-content td,
.post-content th {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

.post-content td,
.post-content th {
    padding: 5px 10px;
    text-align: left;
}

.post-content th {
    background: #eee
}

.post-meta {
    margin: 0;
}

.post-author-list {
    margin-top: 2em;
}

.post-author-list li {
    padding: 0;
    border-bottom: 1px solid #eee;
    margin: 2em 0;
    list-style: none;
}

.post-author-list li:last-child {
    border: 0;
}

@media all and (min-width: 420px) {
    .post-author p {
        margin-left: 125px;
    }
}

.post-author {
    padding: 2em 0;
    overflow: hidden;
    font-size: 0.9em;
}

.post-author .content {
    background: #fff;
    border: 1px solid #ddd;
    padding: 1.5em;
    max-width: 900px;
}

.post-author .content + .content {
    border-top: 0;
}

.post-author .username {
    font-size: 0.9em;
    text-decoration: none;
    color: #222;
}

.post-author h3 {
    margin: 0 15px 0 0;
    display: inline-block;
}

.post-author img {
    float: left;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 2px #bbb;
    border: 5px solid #fff;
    border-radius: 50%;
    margin: 0 15px 0 0;
}

.post-author li {
    list-style: none;
}

.comments {
    background: #f5f5f5;
    padding: 2em 0;
}

.post-header {
    padding: 3em 0;
    color: #fff;
    font-weight: 300;
}

.post-title {
    font-size: 4rem;
    color: #9ef490;
    line-height: 1.2;
    font-weight: 300;
    margin: 0;
    padding: 0 0 0.5em;
}

.post-header a {
    color: #ddd;;
}

.post-header a:hover {
    color: #aaa;
}

.post-header .meta {
    font-size: 15px;
    color: #818181;
    margin-top: 5px;
}

.post-content a,
.post-author a {
    color: #4ba7f8;
    text-decoration: none;
}

.post-content a:hover,
.post-content a:focus,
.post-author a:hover,
.post-author a:focus {
    text-decoration: underline;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    line-height: 1;
    font-weight: 300;
    margin: 40px 0 20px;
}

.post-content h2 {
    font-size: 34px;
}

.post-content h3 {
    font-size: 24px;
    letter-spacing: -1px;
}

.post-content h4 {
    font-size: 20px;
    letter-spacing: -1px;
}

.post-content img {
    max-width: 100%;
}

.post-content blockquote {
    border-left: 4px solid #e8e8e8;
    padding-left: 20px;
    font-size: 18px;
    opacity: .6;
    letter-spacing: -1px;
    font-style: italic;
    margin: 30px 0;
}

.post-content ul,
.post-content ol {
    padding-left: 20px;
}

.post pre,
.post code {
    border: 1px solid #d5d5e9;
    background-color: #eee;
    padding: 8px 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 15px;
    overflow: auto;
}

.post p code,
.post li code {
    font-size: 18px;
    border: none;
    background: none;
    padding: 0;
}

.post code {
    padding: 1px 5px;
}

.post-content ul,
.post-content ol {
    margin-left: 1.35em;
}

.post pre code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}

/* terminal */
.post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.post pre.terminal code {
    background-color: #333;
}

.breadcrumb li,
.breadcrumb {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
}

.breadcrumb li + li span:before {
    content: ' • ';
    color: #ccc;
    padding: 0 10px 0 5px;
    display: inline-block;
}

.breadcrumb li.authors a:before {
    content: ',';
    color: #ccc;
    padding: 0 5px 0 0;
    display: inline-block;
}

.breadcrumb li.authors a:first-child:before {
    content: ' • ';
    color: #ccc;
    padding: 0 5px;
    display: inline-block;
}

/* social */

.social {
    text-align: right;
}

.social ul,
.social h4 {
    list-style: none;
    display: inline-block;
    font-size: 90%;
}

.social ul {
    margin-left: 10px;
}

.social li {
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.ico {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: rgba(0, 39, 59, 0.35)
}

.ico:hover {
    fill: #3f4549
}

/* banner */

.banner {
    background: url("/img/banner/brain-bg.jpg") repeat-x;
    overflow: hidden;
}

.banner img {
    float: right;
    max-width: 90%;
}

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

