html, body, ul, li, .site-header h1, .site-header p {
    padding: 0;
    margin: 0;
}



body {
    background:#fff;
    font: 1em/1.3 Arial, sans-serif;
}

html, body{
    height: 100%;
}

.wrapper {
    margin:0;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    min-height: 100%;
}

.site-header {
    flex: 1 0 100px;
    padding: 2em;
}

.site-header img {
    width: 150px;
    height: 50px;
    display: block;
    margin: 0 0 1em;
}

.site-nav {
    margin-top:60px;
}

.site-navlist {
    list-style:none;
}

.site-navlist > li {
    margin:20px 0 20px 28px;
}

.site-navlist > li > a {
    width:60px;
    height:60px;
    border-radius:30px;
    background-color:#4e4e4e;
    color:rgba(255,255,255,.9);
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    text-decoration:none;
    font:normal 11px/1.1 Arial,sans-serif;
    text-transform:uppercase;
    letter-spacing:.1em;
    transition:all 1s ease;
}

.site-navlist > li > a:hover,
.site-navlist > li > a:focus {
    background-color:#FF5A00;
    color:rgba(255, 255, 255, .9);
}

.section-opensource {
    padding:2em;
    background-color:rgba(150,90,0,.1);
    flex: 10 1 160px;
}

.section-opensource,
.section-twitter  {
    position: relative;
}

.section-opensource > header,
.section-twitter > header  {
    margin-bottom:60px;
}



.section-twitter {
    padding:2em;
    background-color:rgba(27,178,233,.1);
    flex:2 0 200px;
}

.section-title {
    margin-bottom:20px;
    width:100px;
    height:100px;
    border-radius:50px;
    background-color:#FF5A00;
    color:rgba(255, 255, 255, .9);
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    font:normal 13px/1.1 Arial,sans-serif;
    text-transform:uppercase;
    letter-spacing:.1em;

    box-sizing: border-box;
    left: -50px;
    padding-top: 45px;
    position: absolute;
    top: -50px;
}

.section-twitter .section-title {
    background-color:#1BB2E9;
}


.repos-section {
    display:flex;
    flex-wrap: wrap;
}

.repos-box {
    margin: 0 10px;

    flex:1 1 160px;
    border-radius:5px;
}


.repos-box > h3 {
    font: 800 18px/1.1 Arial,sans-serif;
    padding: 0 2em 0 0;
    color: #292f33;
    margin: 0;
    padding: 20px 0 0 20px ;
}

.repos-box > ul {
    list-style:none;
    /*background-color:rgba(155, 54, 0, .1);*/
     padding: 20px;
}

.repo-box {
    margin:30px 0;
    position:relative;
}

.repo-box > header:after {
    content:'';
    clear:both;
    display:table;
}

.repo-box h4 {
    margin:0;
    float:left;
    line-height:1.4;
}

.repo-box a {
    color:#9B3600;
    text-decoration:none;
}

.repo-box a:hover,
.repo-box a:focus {
    text-decoration:underline;
}

.star-gazers {
    margin: 0;
    float:right;
}

.star-gazers span {
    font-size: 15px;
    color: #9B3600;
}

.repo-description {
    font-size:12px;
}

.repos li:hover .star-gazers {
    color: rgba(255, 255, 255, 0.8);
}

.repos li:hover .star-gazers span {
    color: inherit;
}

.repos ul {
    display: flex;
    flex-wrap: wrap;
    clear: both;
    margin: 0 0.5em;
}

.repos li {
    list-style: none;
    flex: 1 1 12%;
    min-width: 160px;
    background: rgba(255, 255, 255, 0.7);
    transition: 0.7s;
    margin: 0 0.5em 1em;
    padding: 1em;
    border-radius: 0.5em;
    position: relative;
}

.site-footer {
    display: none;
}
