---
layout: default
title: Homepage
---
<section class="section-latest">
    <header>
        <div class="content">
            {% include posts.html limit="1" %}
        </div>
    </header>
</section>

<div class="desk">
    <section class="content">
        {% include events.html limit="1" status="upcoming" %}
    </section>
    <section class="content">
        {% include jobs/engineers.html %}
    </section>
</div>

<script type="text/javascript" src="/js/slides.min.js" defer></script>


{% include manifesto.html %}
