---
layout: opensource
title: open source software (OSS)
---

<div class="opensource-content">
    <div class="main-grid">

        <section class="section-opensource-manifesto">
            <div class="content">
                <h2 class="section-title">Open Source</h2>
                <p>
                    We, devs and ops working in Allegro, believe that experience we gained solving problems with
                    massive-scale deployments, high availability and robustness during our everyday work should be shared.
                    We use Open Source solutions on daily basis, why not work on our karma and give something in return?
                </p>
            </div>
        </section>

        <section class="section-featured-projects">
            <div id="featured-projects">
                <ul>
                {% for project in site.data.opensource.repos.featured %}
                    {% assign projectData = site.data.repositories[project] %}
                    <li>
                        <article class="repo-box">
                            <a href="{{ projectData.html_url }}">
                                <header><h4>{{ projectData.name }}</h4></header>
                                <p class="repo-description">{{ projectData.description }}</p>
                            </a>
                            <div class="star-gazers">
                                <a href="{{ projectData.html_url }}/stargazers">{{ projectData.stargazers_count }}</a>
                            </div>
                        </article>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </section>

        <div class="ranking-grid">
            <div class="featured-grid">
                {% for project in site.data.opensource.repos.box %}
                {% assign projectData = site.data.repositories[project] %}
                <section class="section-featured-projects-box">
                    <article class="repo-box">
                        <a href="{{ projectData.html_url }}">
                            <header><h4>{{ projectData.name }}</h4></header>
                            <p class="repo-description">{{ projectData.description }}</p>
                        </a>
                        <div class="star-gazers">
                            <a href="{{ projectData.html_url }}/stargazers">{{ projectData.stargazers_count }}</a>
                        </div>
                    </article>
                </section>
                {% endfor %}

                <section class="authors-box">
                    <ul>
                        {% for authorLogin in site.data.opensource.authors %}
                        {% assign authorData = site.data.members[authorLogin] %}
                            <li>
                                <header><h4>{{ authorData.name }}</h4></header>
                                <p>{{ authorData.bio | markdownify }}</p>
                            </li>
                        {% endfor %}
                    </ul>


                </section>
            </div>

            <section class="section-projects-ranking">
                <header>
                    <div class="content"><h2 class="section-title section-title-opensource">most popular</h2></div>
                </header>
                <ul>
                    {% for project in site.data.opensource.repos.ranking %}
                    {% assign projectData = site.data.repositories[project] %}
                    <li>
                        <a href="{{ projectData.html_url }}">{{ projectData.name }}</a>
                        <a href="{{ projectData.html_url }}/stargazers">{{ projectData.stargazers_count }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </div>

    <section class="section-more-projects">
        <header>
            <div class="content"><h2 class="section-title section-title-opensource">more projects</h2></div>
        </header>

        <ul class="more-projects-grid">
            {% for project in site.data.opensource.repos.more %}
            {% assign projectData = site.data.repositories[project] %}
            <li>
                <article class="repo-box">
                    <a href="{{ projectData.html_url }}">
                        <header><h4>{{ projectData.name }}</h4></header>
                        <p class="repo-description">{{ projectData.description }}</p>
                    </a>
                    <div class="star-gazers">
                        <a href="{{ projectData.html_url }}/stargazers">{{ projectData.stargazers_count }}</a>
                    </div>
                </article>
            </li>
            {% endfor %}
        </ul>
    </section>
</div>

<section class="section-twitter">
    <section>
        <div class="content">
            <a class="twitter-timeline" href="https://twitter.com/AllegroTechBlog" data-widget-id="502727718861942784"
               data-chrome="nofooter noborders transparent" width="400" data-tweet-limit="4" data-link-color="#FF5A00">Tweets
                by @AllegroTechBlog</a>
        </div>
    </section>
</section>
