---
layout: default
title: open source software (OSS)
---

{% assign repos = site.data.repositories.repos %}
{% assign popularity = site.data.repositories.popularity %}

<div class="opensource-content">
    <div class="main-grid">

        <section class="opensource-manifesto opensource-box">
            <h2>Open Source</h2>
            <p>We, devs and ops working at Allegro, believe that experience we gained solving problems with large-scale
                deployments, high availability and robustness during our everyday work should be shared. We use Open
                Source solutions on daily basis, why not work on our karma and give something in return?</p>
        </section>

        <section class="opensource-featured-projects">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for repository in repos %}
                    {% if repository.featured.primary %}
                    <div class="swiper-slide">
                        {% include opensource/project.html repository=repository %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="showcase-button showcase-button-prev"></div>
            <div class="showcase-button showcase-button-next"></div>
        </section>

        <div class="opensource-ranking-grid">
            <div class="featured-grid">
                {% for repository in repos %}
                {% if repository.featured.secondary %}
                <section class="section-featured-projects-box opensource-box">
                    <div class="repo-box">
                        {% include opensource/project.html repository=repository %}
                    </div>
                </section>
                {% endif %}
                {% endfor %}
            </div>

            <section class="section-projects-ranking opensource-box">
                <header>
                    <h2>most popular</h2>
                </header>
                <ol>
                    {% for projectName in popularity limit:10 %}
                    {% for repository in repos %}
                    {% if repository.name == projectName %}
                    <li>
                        <a href="{{ repository.url }}" class="project-name" title="{{ repository.name }}">
                            {{ repository.name }}
                        </a>
                        <div class="star-gazers">
                            <a href="{{ repository.url }}/stargazers">{{ repository.stars }}</a>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </ol>
            </section>
        </div>

        <section class="opensource-all-projects">
            <header>
                <h2>more projects</h2>
            </header>

            <ul class="more-projects-grid">
                {% for repository in repos %}
                {% if repository.featured.primary == false or repository.featured.secondary == false %}
                <li>
                    <div class="repo-box opensource-box">
                        {% include opensource/project.html repository=repository %}
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </section>
    </div>
</div>

<script src="/js/swiper.min.js"></script>
<script>
    new Swiper('.swiper-container', {
        loop: true,
        speed: 600,
        autoplay: 4000,
        nextButton: '.showcase-button-next',
        prevButton: '.showcase-button-prev'
    });
</script>
