---
layout: opensource
title: open source software (OSS)
---

{% assign repos = site.data.opensource.repos %}
{% assign projectsRepo = site.data.repositories %}
{% assign projectsMetadata = site.data.opensource-projects %}

<div class="opensource-content">
    <div class="main-grid">

        <section class="section-opensource-manifesto">
            <div class="content">
                <h2 class="section-title">{{ site.data.opensource.manifesto.title }}</h2>
                <p>{{ site.data.opensource.manifesto.text }}</p>
            </div>
        </section>

        <section class="section-featured-projects">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for projectName in repos.featured %}
                        <div class="swiper-slide">
                            <article class="showcase-box">
                                {% assign metadata = projectsMetadata[projectName] %}
                                {% assign repodata = projectsRepo[projectName] %}
                                <a href="{{ repodata.html_url }}">
                                    <header><h4>{{ repodata.name }}</h4></header>
                                    <p class="repo-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
                                    <!--p class="repo-description">{{ repodata.description }}</p-->
                                </a>
                                <div class="star-gazers">
                                    <a href="{{ repodata.html_url }}/stargazers">{{ repodata.stargazers_count }}</a>
                                </div>
                                <ul class="repo-metadata">
                                    <li><a href="{{ repodata.html_url }}">repo</a></li>
                                    {% if metadata.docs %}<li><a href="{{ metadata.docs }}">docs</a></li>{% endif %}
                                    {% if metadata.contact %}<li><a href="{{ metadata.contact }}">contact</a></li>{% endif %}
                                    {% if metadata.twitter %}<li><a href="{{ metadata.twitter }}">twitter</a></li>{% endif %}
                                </ul>
                            </article>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="showcase-button showcase-button-prev"></div>
            <div class="showcase-button showcase-button-next"></div>
        </section>

        <div class="ranking-grid">
            <div class="featured-grid">
                {% for project in site.data.opensource.repos.box %}
                {% assign projectData = site.data.repositories[project] %}
                <section class="section-featured-projects-box">
                    <article class="repo-box">
                        <a href="{{ projectData.html_url }}">
                            <header><h4>{{ projectData.name }}</h4></header>
                            <p class="repo-description">{{ projectData.description }}</p>
                        </a>
                        <div class="star-gazers">
                            <a href="{{ projectData.html_url }}/stargazers">{{ projectData.stargazers_count }}</a>
                        </div>
                    </article>
                </section>
                {% endfor %}

                <section class="authors-box">
                    <div class="content">
                    <header>
                    <h2 class="section-title section-title-opensource">Who we are</h2>
                    </header>
                        <ul>
                        {% for authorLogin in site.data.opensource.authors %}
                        {% assign authorData = site.data.members[authorLogin] %}
                            <li>
                                <img src="/img/authors/{{authorLogin}}.jpg" alt="{{authorData.name}}"/>
                                <header><h4>{{ authorData.name }}</h4></header>
                                <p>{{ authorData.bio | markdownify }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                </section>
            </div>

            <section class="section-projects-ranking">
                <header>
                    <div class="content"><h2 class="section-title section-title-opensource">most popular</h2></div>
                </header>
                <ol>
                    {% for project in site.data.opensource.repos.ranking %}
                    {% assign projectData = site.data.repositories[project] %}
                    <li>
                        <a href="{{ projectData.html_url }}">{{ projectData.name }}</a>
                        <div class="star-gazers"><a href="{{ projectData.html_url }}/stargazers">{{ projectData.stargazers_count }}</a></div>
                    </li>
                    {% endfor %}
                </ol>
            </section>
        </div>
    </div>

    <section class="section-more-projects">
        <header>
            <div class="content"><h2 class="section-title section-title-opensource">more projects</h2></div>
        </header>

        <ul class="more-projects-grid">
            {% for project in site.data.opensource.repos.more %}
            {% assign projectData = site.data.repositories[project] %}
            <li>
                <article class="repo-box">
                    <a href="{{ projectData.html_url }}">
                        <header><h4>{{ projectData.name }}</h4></header>
                        <p class="repo-description">{{ projectData.description }}</p>
                    </a>
                    <div class="star-gazers">
                        <a href="{{ projectData.html_url }}/stargazers">{{ projectData.stargazers_count }}</a>
                    </div>
                </article>
            </li>
            {% endfor %}
        </ul>
    </section>
</div>

<section class="section-twitter">
    <section>
        <div class="content">
            <a class="twitter-timeline" href="https://twitter.com/AllegroTechBlog" data-widget-id="502727718861942784"
               data-chrome="nofooter noborders transparent" width="400" data-tweet-limit="4" data-link-color="#FF5A00">Tweets
                by @AllegroTechBlog</a>
        </div>
    </section>
</section>

<script src="/js/swiper.min.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        loop: true,
        nextButton: '.showcase-button-next',
        prevButton: '.showcase-button-prev'
    })
</script>
