@charset "utf-8";
.site-header {
    padding: 1em;
    background: rgba(255, 255, 255, 0.95);

    .back-link {
        grid-column-start: center;
        grid-area: a;
        align-self: start;
        justify-self: stretch;

        line-height: 40px;

        img {
            height: 1.3em;
            vertical-align: text-bottom;
        }
    }

    .logo {
        grid-column-start: center;
        grid-area: b;
        align-self: start;
        justify-self: stretch;
    }

    .site-nav {
        grid-column-start: center;
        grid-area: c;
        align-self: end;
        justify-self: stretch;

        line-height: 40px;
    }

    @media all and (max-width: 400px) {
        .site-nav {
            justify-self: start;
        }
    }

    h1, p {
        padding: 0;
        margin: 0;
        min-width: 200px;
        max-width: 68%;
        flex: 1;
    }

    h1 img {
        width: 203px;
        height: 40px;
        display: block;
        border: 0;
        max-width: 100%;
    }
}
