@charset "utf-8";
.site-header {
    padding: 1em 0;
    background: rgba(255, 255, 255, 0.95);

    .content {
        display: flex;
        flex-wrap: wrap;
    }

    h1, p {
        padding: 0;
        margin: 0;
        min-width: 200px;
        max-width: 68%;
        flex: 1;
    }
    h1 img {
        width: 203px;
        height: 40px;
        display: block;
        border: 0;
        max-width: 100%;
    }
    .page-link {
        padding: 5px 12px;
    }
}

.site-nav {
    padding: 10px 0 0;
    line-height: 40px;


}

    .site-navlist {
        list-style: none;
        display: inline-block;

        li {
            display: inline;
        }

        li .page-link {
            transition: all 75ms linear;
        }

        li .current {
            color: #ff5a00;
        }
    }


@media all and (min-width: 900px) {
    .site-nav {
        flex: 3;
        padding: 0;
    }
    .site-navlist + .site-navlist {
        float: right;
    }
}
