@charset "UTF-8";
.site-header h1,
.site-header p {
    padding: 0;
    margin: 0;
}

.site-header {
    padding: 1em 0;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.site-header h1 {
    display: inline-block;
    max-width: 68%;
}

.site-header img {
    width: 203px;
    height: 40px;
    display: block;
    border: 0;
    max-width: 100%;
}

.page-link {
    text-decoration: none;
    color: #4ba7f8;
    padding: 5px 12px;
    border-radius: 3px;
    transition: all 75ms linear;
}

.page-link:after {
    content: ' ▶';
    font-size: 70%;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 7px;
    font-weight: 100;
}

.page-link:hover,
.page-link:focus {
    color: #fff;
    background: #4ba7f8;
}

.site-nav {
    padding: 10px 0 0;
    line-height: 40px;
}

@media all and (min-width: 900px) {
    .site-nav {
        float: right;
        padding: 0;
    }
}

.site-navlist {
    list-style: none;
}

.site-navlist li {
    display: inline;
}

.site-navlist li .page-link {
    border: 2px solid #fff;
    transition: all 75ms linear;
}

.site-navlist li .page-link:hover,
.site-navlist li .page-link:focus {
    border: 2px solid #4ba7f8;
}

.site-navlist li .page-link:after {
    display: none;
}

.site-navlist li .current {
    font-weight: bold;
    border: 2px solid #4ba7f8;
    border-radius: 3px;
}

.site-navlist li .social {
    padding: 5px;
    width: 33px;
}

.site-navlist li .social .socicon {
    top: 1px;
    font-size: 90%;
    color: #4ba7f8;
}

.site-navlist li .social:hover .socicon,
.site-navlist li .social:focus .socicon {
    color: #fff;
    cursor: pointer;
}

.site-navlist li:last-of-type .social .socicon {
    padding-right: 12px;
}

.buttons {
    text-align: right;
}
