@charset "utf-8";
.site-header {
    padding: 1em;
    background: rgba(255, 255, 255, 0.95);

    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-row-gap: 0.5em;
    grid-template-areas:
        "a b c d";

    .back-link {
        grid-column-start: center;
        grid-area: a;
        align-self: start;
        justify-self: stretch;

        line-height: 40px;

        img {
            height: 1.3em;
            vertical-align: text-bottom;
        }
    }

    .logo {
        grid-column-start: center;
        grid-area: b;
        align-self: start;
        justify-self: stretch;
    }

    .site-nav {
        grid-column-start: center;
        grid-area: c;
        align-self: end;
        justify-self: stretch;

        line-height: 40px;

        .site-navlist {
            list-style: none;
            display: inline-block;

            li {
                display: inline;
            }
        }
    }

    @media all and (max-width: 900px) {
        grid-template-areas:
            "a a a a"
            "b b c c"
            "d d d d";
    }

    @media all and (max-width: 400px) {
        grid-template-areas:
            "a a a a"
            "b b b b"
            "c c c c"
            "d d d d";

        .site-nav {
            justify-self: start;
        }
    }

    h1, p {
        padding: 0;
        margin: 0;
        min-width: 200px;
        max-width: 68%;
        flex: 1;
    }

    h1 img {
        width: 203px;
        height: 40px;
        display: block;
        border: 0;
        max-width: 100%;
    }
}
