@import "_swiper";

.opensource-featured-projects {
    position: relative;
    max-width: 940px;
    width: 100%;

    a {
        color: #fff;
        text-decoration: none;
    }

    .opensource-project {
        padding: 70px 80px;

        h4 {
            font-size: 80px;
            line-height: 1;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0 0 .35em;
        }

        .repo-description {
            max-width: 540px;
        }

        .star-gazers {
            margin-top: 25px;
            a {
                color: #808080;
                color: rgba(255, 255, 255, .5);
                font-weight: normal;
            }
            a:before {
                margin-right: .8em;
                color: #fff;
                font-weight: bold;
            }
        }
    }
}
.showcase-button {
    position: absolute;
    top: 40%;
    width: 52px;
    height: 52px;
    margin-top: -26px;
    display: inline-block;
    background-repeat: no-repeat;
    opacity: .5;
    transition: opacity .25s ease-out;
    cursor: pointer;
    z-index: 1;

    &:hover {
        opacity: 1;
    }

    &-prev {
        left: -62px;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2NCA2NCI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTAgMzJjMCAxNy42IDE0LjQgMzIgMzIgMzJzMzItMTQuNCAzMi0zMlM0OS42IDAgMzIgMCAwIDE0LjQgMCAzMnptMi40IDBDMi40IDE1LjcgMTUuNyAyLjQgMzIgMi40UzYxLjYgMTUuNyA2MS42IDMyIDQ4LjMgNjEuNiAzMiA2MS42IDIuNCA0OC4zIDIuNCAzMnptMTQuMiAwYzAgLjIgMCAuMy4xLjUuMS4xLjEuMy4zLjRsOS41IDkuNWMuMi4yLjUuMy44LjNzLjYtLjEuOC0uM2MuNS0uNS41LTEuMiAwLTEuN2wtNy41LTcuNWgyNS42Yy43IDAgMS4yLS41IDEuMi0xLjJzLS41LTEuMi0xLjItMS4ySDIwLjZsNy41LTcuNWMuNS0uNS41LTEuMiAwLTEuN3MtMS4yLS41LTEuNyAwbC05LjUgOS41Yy0uMS4xLS4yLjItLjMuNHYuNXoiLz48L3N2Zz4=');
    }

    &-next {
        right: -62px;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2NCA2NCI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTMyIDBDMTQuNCAwIDAgMTQuNCAwIDMyczE0LjQgMzIgMzIgMzIgMzItMTQuNCAzMi0zMlM0OS42IDAgMzIgMHptMCA2MS42QzE1LjcgNjEuNiAyLjQgNDguMyAyLjQgMzJTMTUuNyAyLjQgMzIgMi40IDYxLjYgMTUuNyA2MS42IDMyIDQ4LjMgNjEuNiAzMiA2MS42em0xNS4zLTMwLjFjLS4xLS4xLS4xLS4zLS4zLS40bC05LjUtOS41Yy0uNS0uNS0xLjItLjUtMS43IDBzLS41IDEuMiAwIDEuN2w3LjUgNy41SDE3LjhjLS43IDAtMS4yLjUtMS4yIDEuMnMuNSAxLjIgMS4yIDEuMmgyNS42bC03LjUgNy41Yy0uNS41LS41IDEuMiAwIDEuNy4yLjIuNS4zLjguM3MuNi0uMS44LS4zbDkuNS05LjVjLjEtLjEuMi0uMi4zLS40LjEtLjEuMS0uMy4xLS40IDAtLjMgMC0uNC0uMS0uNnoiLz48L3N2Zz4=');
    }
}

@media all and (max-width: 1070px) {
    .showcase-button-prev { left: 10px; }
    .showcase-button-next { right: 10px; }
}
