
.post-author-list {
    margin-top: 2em;
}

.post-author-list li {
    padding: 0;
    border-bottom: 1px solid #eee;
    margin: 2em 0;
    list-style: none;
}

.post-author-list li:last-child {
    border: 0;
}

@media all and (min-width: 420px) {
    .post-author p {
        margin-left: 125px;
    }
}

.post-author {
    padding: 2em 0;
    overflow: hidden;
    font-size: 0.9em;
}

.post-author .content {
    background: #fff;
    border: 1px solid #ddd;
    padding: 1.5em;
    max-width: 900px;
}

.post-author .content + .content {
    border-top: 0;
}

.post-author .username {
    font-size: 0.9em;
    text-decoration: none;
    color: #222;
}

.post-author h3 {
    margin: 0 15px 0 0;
    display: inline-block;
}

.post-author img {
    float: left;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 2px #bbb;
    border: 5px solid #fff;
    border-radius: 50%;
    margin: 0 15px 0 0;
}

.post-author li {
    list-style: none;
}

.author-github-icon-svg,
.author-twitter-icon-svg {
    display: inline-block;
    height: 16px;
    position: relative;
    top: 3px;
    width: 16px;
}
