<section class="posts">
    {% if include.status == 'past' %}
        {% assign events = (site.events | sort: 'date') | reverse %}
    {% else %}
        {% assign events = site.events %}
    {% endif %}
    {% for event in events offset:include.offset %}
    {% if event.status == include.status %}
    <article class="event-wrapper past" itemscope itemtype="http://schema.org/Event">
        <time class="post-date">{{event.time | slice: 0, 10 | date: "<strong>%b %-d</strong> %Y"}}</time>
        <a class="event-title post-link" itemprop="name" href="{{ event.url }}">
            {{ event.title }}
        </a>
        <p>{{ event.content | strip_html | truncatewords: 50 }}</p>
        <div class="post-meta"><span>{{event.venue_name}}{% if event.venue_address_1.size > 0 %}, {{event.venue_address_1}}{% endif %}{% if event.venue_city.size > 0 %}, {{event.venue_city}}{% endif %}</span></div>
    </article>
    {% endif %}
    {% endfor %}
</section>
