<footer class="site-footer">
    <div class="content" itemscope itemtype="http://schema.org/Organization">
        <link itemprop="url" href="{{ site.baseurl }}/"/>
        <link itemprop="logo" href="{{ site.baseurl }}/img/logo-allegro-tech.png"/>
        <div class="site-title">
            <span>Proudly built by <img src="{{ site.baseurl }}/img/allegro-tech.svg" alt="allegro.tech"/>
                <a href="{{site.baseurl}}/authors/">engineers</a>
            </span>
        </div>
    </div>
    {% include pixels/facebook_pixel.html %}
    {% include pixels/retargetting_pixel.html %}
</footer>
