{% assign current = page.url | downcase | split: '/' %}
{% assign currentSubPage = current[1] %}
<header class="site-header">
    <div class="content"><h1>
        <a href="/"><img src="/img/allegro-tech.svg" alt="allegro.tech"/></a>
    </h1>

        <nav class="site-nav">
            <ul class="site-navlist">

                <li><a class="page-link {% if currentSubPage == 'index.html' %}current{% endif %}" href="/">tech blog</a></li>

                <li><a class="page-link {% if currentSubPage == 'open-source' %}current{% endif %}" href="/open-source">open source</a></li>

                <li><a class="page-link {% if currentSubPage == 'agile' %}current{% endif %}" href="/agile">agile</a></li>

                <li><a class="page-link {% if currentSubPage == 'jobs' %}current{% endif %}" href="/jobs">jobs</a></li>

                <li><a class="page-link {% if currentSubPage == 'about-us' %}current{% endif %}" href="/about-us">about us</a></li>
            </ul>
                  <ul class="site-navlist">
                <li><a class="page-link social icon-link" href="http://facebook.com/{{ site.facebook_username }}" title="Facebook">
                    <span class="socicon socicon-facebook"></span>
                    <span class="icon-link-text">Facebook</span>
                </a></li>

                <li><a class="page-link social icon-link" href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
                    <span class="socicon socicon-twitter"></span>
                    <span class="icon-link-text">Twitter</span>
                </a></li>

                <li><a class="page-link social icon-link" href="http://meetup.com/{{ site.meetup_username }}" title="Meetup Group">
                    <span class="socicon socicon-meetup"></span>
                    <span class="icon-link-text">Meetup</span>
                </a></li>

                <li><a class="page-link social icon-link" href="https://github.com/{{ site.github_username }}" title="Github">
                    <span class="socicon socicon-github"></span>
                    <span class="icon-link-text">Github</span>
                </a> </li>

            </ul>
        </nav>
    </div>
</header>
