<header class="site-header">
    <div class="content"><h1>
        <a href="/"><img src="/img/logo-allegro-tech.svg" alt="allegro.tech"/></a>
    </h1>

        <nav class="site-nav">
            <ul class="site-navlist">
                <li><a class="page-link" href="/open-source">allegro.tech OSS</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="banner"><div class="content"><a href="/meeting"><img src="/img/atm8/atm8-banner.png" alt="allegro.tech meeting"/></a></div></div>
