{% assign current = page.url | downcase | split: '/' %}
{% assign currentSubPage = current[1] %}
<div class="banner"><div class="content"><a href="http://allegro.tech/braincode/"><img src="/img/banner/braincode2016.png" alt="Braincode 2016" /></a></div></div>
<header class="site-header">
    <div class="content"><h1>
        <a href="/"><img src="/img/logo-allegro-tech.svg" alt="allegro.tech"/></a>
    </h1>

        <nav class="site-nav">
            <ul class="site-navlist">

                <li><a class="page-link {% if currentSubPage == 'index.html' %}current{% endif %}" href="/">tech blog</a></li>

                <li><a class="page-link {% if currentSubPage == 'open-source' %}current{% endif %}" href="/open-source">open source</a></li>

                <li><a class="page-link {% if currentSubPage == 'agile' %}current{% endif %}" href="/agile">agile</a></li>

            </ul>
        </nav>
    </div>
</header>
