{% assign current = page.url | downcase | split: '/' %}
{% assign currentSubPage = current[1] %}
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed" href="{{ site.url }}/feed.xml"/>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" itemprop="url">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:400,300,100,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/style.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/metrum.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/blog.css' | prepend: site.baseurl }}">
</head>
