<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title itemprop='name'>{% if page.title %}{{ page.title }} &middot; {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | truncate: 150 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:site_name" content="{{ site.name }}"/>
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
    <meta property="og:type" content="{% if page.title %}article{% else %}site{% endif %}"/>
    <meta property="og:image" content="{{ site.url }}/img/allegro-tech.png"/>

	{% if page.title %}
    <meta name="twitter:creator" content="@AllegroTechBlog"/>
    <meta property="og:description" content="{{ page.excerpt | strip_html}}"/>
    <meta property="article:author" content="{{ page.author | join: ', ' }}"/>
    <meta property="article:publisher" content="https://www.facebook.com/allegro.tech"/>
    {% endif %}

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed" href="{{ site.url }}/feed.xml"/>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" itemprop="url">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,700&amp;subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/css/style.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/blog.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/jobs.css' | prepend: site.baseurl }}">
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window,document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1650870088530325');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=1650870088530325&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>
