<title itemprop='name'>{{podcast.title}} - {{site.data.members[podcast.author].name}}  &middot; {{ site.title }}</title>
<meta name="description" content="{{podcast.toc}}">
<meta property="og:site_name" content="{{ site.name }}"/>
<meta property="og:title" content="{{podcast.title}} - {{site.data.members[podcast.author].name}} &middot; {{ site.title }}"/>
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
<meta property="og:type" content="video.episode" />
<meta property="og:image" content="{{ site.url }}/img/podcast/podcast.png"/>
<meta name="twitter:creator" content="@allegrotech"/>
<meta property="og:description" content="{{ podcast.toc | join: ', '}}"/>
<meta property="article:author" content="{{ podcast.author | join: ', ' }}"/>
<meta property="article:publisher" content="https://www.facebook.com/allegro.tech"/>
