<title itemprop='name'>{% if page.title %}{{ page.title }} &middot; {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | truncate: 150 }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:site_name" content="{{ site.name }}"/>
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
<meta property="og:type" content="{% if page.title %}article{% else %}site{% endif %}"/>
<meta property="og:image" content="{{ site.url }}/img/allegro-tech.png"/>
 {% if page.title %}
  <meta name="twitter:creator" content="@allegrotech"/>
  <meta property="og:description" content="{{ page.excerpt | strip_html}}"/>
  <meta property="article:author" content="{{ page.author | join: ', ' }}"/>
  <meta property="article:publisher" content="https://www.facebook.com/allegro.tech"/>
{% endif %}
