        <h2>Latest Blog Entries</h2>
        <ul class="posts">
            {% for post in site.posts limit:include.limit %}
            <li {% if forloop.first %} class="latest" {% endif %}>
                <span class="post-date">{{ post.date | date: "<strong>%b %-d</strong> %Y" }}</span>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                <p>{{ post.excerpt | strip_html }}</p>
                <div class="post-meta">
                {% for author in post.author %}
                 <span class="author"><img src="/img/authors/{{author}}.jpg" alt="{{author}}"/> {{site.data.members[author].name}}</span>
                {% endfor %}
                <a class="comment-count" href="{{ post.url | prepend: site.baseurl }}#disqus_thread"></a></div>
            </li>
            {% endfor %}
        </ul>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'allegrotechio'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
