<time class="post-date">{{ post.date | date: "<strong>%b %-d</strong> %Y" }}</time>
{% if forloop.first and forloop.length == 1 %}<span id="latest-post-tag">Latest post</span>{% endif %}
<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
<p>{{ post.excerpt | markdownify | strip_html }}</p>
{% if include.hideAuthor != true %}
<div class="post-meta">
    {% for author in post.author %}
    <span class="author"><img src="/img/authors/{{author}}.jpg" alt="{{author}}"/> <a href="/authors/{{author}}">{{site.data.members[author].name}}</a></span>
    {% endfor %}
    <a class="comment-count" href="{{ post.url | prepend: site.baseurl }}#disqus_thread"></a>
</div>
{% endif %}
