---
layout: default
title: agile blog
---

<section class="section-latest">
    <header>
        <div class="content">
            <h2 class="section-title">Latest agile post</h2><br/><br/>
            {% include posts.html limit="1" tag="agile" %}
        </div>
    </header>
</section>

<section class="section-posts">
    <section>
        <div class="content">
            {% include posts.html offset="1" limit="6" tag="agile"%}
            {% include posts.html offset="7" short="true" tag="agile"%}
        </div>
    </section>
</section>

<section class="section-blog manifesto">
    <header>
        <div class="content"><h2 class="section-title">allegro.tech/agile</h2>

            <p>Agile is a ubiquitous word in the world of software development. At Allegro, we do not treat it 
			as a cliche. On the contrary, we dig in, experiment and seek our own ways of doing things. Above all – 
			we change, develop and adapt to what we see, constantly following our own path. We value the courage 
			to fail and learn both as a team and as an organization. We eagerly discuss our views and experiences. 
			On this blog we would like to share our thoughts and engage in a conversation with you, participating 
			in an international community that supports each other.</p>
        </div>
    </header>
</section>
{% include disqus_snippet.html %}
