---
layout: atm
title: allegro.tech meeting v8
description: allegro.tech meeting is an annual technology conference organized by allegro engineers. 8th edition will take place on 14th of September in PGE Narodowy in Warsaw.
---
<section class="section-atm">
    <header>
        <div class="content">
            <img src="/img/atm8/atm8-logo.png" alt="allegro.tech meeting v8"/>

            <h1>allegro.tech meeting</h1>
            <p class="date">September 14th, 2015</p>
            <p class="venue"><a target="_blank" href="https://www.google.pl/maps/place/PGE+Narodowy/@52.2394957,21.0457909,17z/data=!3m1!4b1!4m2!3m1!1s0x471ecc53aadd5a5b:0x6243befa18b5188b?hl=pl">PGE National Stadium in Warsaw</a></p>
        </div>
    </header>
</section>

<section id="allegro-tech">
    <div class="content">

        <h2>allegro.tech</h2>

    <p><a href="/">allegro.tech</a> is a brand created by the best engineers in <a href="http://allegro.pl">allegro</a> to show the community who we are and what we do every day.</p></h2>
    </div>
</section>

<section id="about-atm">
    <div class="content">

    <h2>ATM</h2>
<p>
    <strong>allegro.tech meeting</strong> a.k.a. <strong>ATM</strong>, is an annual meeting of allegro's engineers held to share knowledge
    about projects that we run, problems that we face and unique solutions that we implement. This is an opportunity to catch up with
    all the new things that happened to be difficult to communicate due to our location in various cities across Poland.
    ATM breaks this barrier.
</p>
<p>
    “<i><b>For and by IT</b></i>” is the leitmotif of the event that has accompanied our efforts since the beginning, that is since 2009.
    This is when the concept of the conference was proposed by Marcin “Mazek” Mazurek, main coordinator of the first editions.
</p>
<p>
This two day event is organized in whole by allegro engineers.
</p>
</div>
</section>

<section id="atm8" class="section-atm8">
    <div class="content">

        <h2>allegro.tech meeting v8</h2>
<p>
    It is our intention to have the meeting held interchangeably in one of five locations of our operations: Poznań, Warsaw, Toruń, Kraków and Wrocław.
    This year’s eighth edition of ATM will take place in Warsaw, on September 14th-15th, inviting our engineers to spend two days in the
    extraordinary surroundings of the PGE National Stadium and giving them the opportunity to listen to the presentations, lightning talks
    of work mates and to participate in workshops.
</p>
<p>
    A new element this year is that we invite guests from outside Allegro to join us on the first day. We want to share with
    you everything that we find most valuable, that is the knowledge and experience of our engineers.
</p>
<dl>
    <dt>Date: </dt>
    <dd>September 14th, 2015</dd>
    <dt>Venue: </dt>
    <dd>National Stadium in Warsaw</dd>
    <dt>Address:</dt>
    <dd>PGE National Stadium in Warsaw at Al. Ks. J. Poniatowskiego 1. Main entrance (gate 1) – follow information signs. (<a href="https://www.google.pl/maps/place/PGE+Narodowy/@52.2394957,21.0457909,17z/data=!3m1!4b1!4m2!3m1!1s0x471ecc53aadd5a5b:0x6243befa18b5188b?hl=en">Google Maps</a>)</dd>
</dl>
    <h3>How to get there?</h3>
    <ul>
        <li>By car: from <a href="https://www.google.pl/maps/place/Ryszarda+Siwca,+Warszawa/@52.2414347,21.0427781,17z/data=!3m1!4b1!4m2!3m1!1s0x471ecc521d307473:0x940638b2558d7619?hl=pl" target="_blank">ul. Siwca 1</a></li>
        <li>By underground: arrive at underground station <a href="https://www.google.pl/maps/place/Stadion+Narodowy/@52.244243,21.0430891,16.38z/data=!4m7!1m4!3m3!1s0x471ecc51e3f606cf:0x1721a78dcdb69962!2sMetro+Stadion+Narodowy!3b1!3m1!1s0x471ecc4ede0d6c15:0x77434b41f5f64160?hl=pl" target="_blank">Stadion Narodowy</a></li>
		<li>By train: arrive at train station <a href="https://www.google.pl/maps/place/Warszawa+Stadion/@52.24517,21.04405,17z/data=!3m1!4b1!4m2!3m1!1s0x471ecc4e6c4b9b7b:0xd00b72a5c53df5ec?hl=pl" target="_blank">Warszawa Stadion</a></li>
		<li>By bus or tram: arrive at bus/tram stop <a href="https://www.google.pl/maps/place/Rondo+Waszyngtona/@52.237894,21.0507113,15z/data=!4m7!1m4!3m3!1s0x471ecdb08f3f74ad:0x9597f54ecf563274!2saleja+Waszyngtona,+Warszawa!3b1!3m1!1s0x0000000000000000:0xe22aad022ef142b3?hl=pl" target="_blank">Rondo Waszyngtona</a></li>
		<li>By Veturilo city bike: bike station near <a href="https://www.google.pl/maps/place/Rondo+Waszyngtona/@52.237894,21.0507113,15z/data=!4m7!1m4!3m3!1s0x471ecdb08f3f74ad:0x9597f54ecf563274!2saleja+Waszyngtona,+Warszawa!3b1!3m1!1s0x0000000000000000:0xe22aad022ef142b3?hl=pl" target="_blank">Rondo Waszyngtona</a></li>
    </ul>
    </div>
    <p class="copy">Fot. National Stadium in Warsaw</p>
</section>

<section id="schedule">
    <div class="content">
        <h2>Schedule</h2>
        <ol class="schedule">
            {%assign schedule = site.data.atm-schedule | sort%}

            {% for item in schedule %}
            <li class="schedule-item">
                <section class="talknote">
                    <div class="talknote-time">
                        <time datetime="{{item[1].date}}T{{item[1].timeStart}}">{{item[1].timeStart}}</time> -
                        <time datetime="{{item[1].date}}T{{item[1].timeEnd}}">{{item[1].timeEnd}}</time>
                    </div>
                    <div class="talknote-content">
                        <h3 class="talknote-title">{{item[1].title}}</h3>
                        {% if item[1].name %}
                        <span class="talknote-author"> {{item[1].name}}</span>
                        {% endif %}

                        {% if item[1].abstract %}
                        <div class="talknote-abstract"> {{item[1].abstract}}</div>
                        {% endif %}
                    </div>
                </section>
            </li>
            {% endfor %}

        </ol>
    </div>
</section>

<section class="speakers" id="speakers">

    <div class="content">
        <h2>Speakers</h2>
        <ul class="post-author-list">
            {%assign authors = site.data.atm-speakers | sort%}
            {% for author in authors reversed%}
            {%assign authorKey = author[0]%}
            {%assign authorData = author[1]%}
            <li class="post-author">
                {% include single_author.html showLinkToPost=false %}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

