---
layout: default
---

<section class="section-latest">
    <header style="background-image: url('../img/jobs/jobs-header.jpg')">
        <div class="content">
            <div class="color-header-content">
                <h2>Jobs</h2>
                <p><strong>Allegro Tech</strong> is growing and we are looking for talented engineers to join the team.
                </p>
                <p>Check out our current {{ site.data.jobs.content | size }} job openings and apply today!</p>
            </div>
        </div>
    </header>
</section>

<section class="desk">
    <div class="content">
        <div class="m-card">
            <ul id="job-offers">
                {% for offer in site.data.jobs.content %}
                <li>
                    <a href="https://www.smartrecruiters.com/AllegroGroup/{{ offer.id }}-{{offer.name | slugify}}?trid=de9dfdf3-7f9e-4ebf-8a64-49f6c69ad640">
                        <span>{{ offer.name }}</span><span class="city">{{ offer.location.city }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="m-card">
            If there are no offers that suit you or you have questions regarding the hiring process – get in touch with
            our
            recruiters.
            <ul class="recruiters">
                <li>
                    <img alt="Anna Śmiałek" src="/img/jobs/anna-smialek.jpg">
                    <div class="recruiter-name">
                        <h3>Poznań</h3>
                        <p>Anna Śmiałek</p>
                        <a href="mailto:&#x61;nia&#64;&#x61;lleg&#x72;&#x6f;&#46;tech" title="Contact Ania">
                            &#x61;nia&#64;&#x61;lleg&#x72;&#x6f;&#46;tech
                        </a>
                    </div>

                </li>
                <li>
                    <img alt="Joanna Dębska" src="/img/jobs/joanna-debska.jpg">
                    <div class="recruiter-name">
                        <h3>Warszawa, Kraków</h3>
                        <p>Joanna Dębska</p>
                        <a href="mailto:joanna&#x40;alle&#x67;ro&#46;te&#x63;h" title="Contact Joanna">
                            joanna&#x40;alle&#x67;ro&#46;te&#x63;h
                        </a>
                    </div>
                </li>
                <li>
                    <img alt="Martyna Niszczota" src="/img/jobs/martyna-niszczota.jpg">
                    <div class="recruiter-name">
                        <h3>Warszawa, Toruń</h3>
                        <p>Martyna Niszczota</p>
                        <a href="mail&#116;&#111;&#58;m&#97;%7&#50;tyna&#64;a&#108;leg&#114;o&#46;t&#101;ch"
                           title="Contact Martyna">
                            martyna&#64;a&#108;l&#101;&#103;ro&#46;t&#101;ch
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="m-card">
            <h2>Recruitment process</h2>
            <p>If you have already applied for a job at Allegro or would like to ask about further steps read on to get
                more
                insight on the Allegro Tech recruitment process.</p>
            <div class="recruitment-img recruitment-img-right">
                <img src="/img/jobs/home-assignment.jpg" alt="Home Assignment" title="Home Assignment" width="400"
                     height="300">
            </div>
            <div class="recruitment-box recruitment-box-right">
                <h3>Home assignment</h3>
                <p>As a home assignment you are to write a simple REST service that meets given requirements. Task
                    difficulty has been calibrated so that it can be completed
                    in 4 to 5 hours of work, with a total of a few hundred lines of code. You submit the task in form of
                    a
                    pull request reviewed by an Allegro engineer.
                    This reflects our daily practices when working with code and gives you the chance to explain the
                    design
                    or even apply some fixes based on our
                    engineer’s suggestions.</p>
            </div>
            <div class="recruitment-img recruitment-img-left" id="workshop-img">
                <img src="/img/jobs/workshop.jpg" alt="Workshop" title="Workshop" width="400" height="300">
            </div>
            <div class="recruitment-box recruitment-box-left" id="workshop">
                <h3>Craftsmanship/workshop</h3>
                <p>During this part of the interview process we focus on skills used in day-to-day work on a single
                    microservice. We talk about good development practices,
                    programming languages and known frameworks. We care not only about software quality, but also
                    performance, reliability and metrics of our services,
                    thus expect questions about making things fast or implementation details of your platform of choice.
                    You
                    might be asked to perform code review
                    focused purely on good practices (i.e. no hunting for syntax mistakes or code parsing).</p>
            </div>
            <div class="recruitment-img recruitment-img-right" id="algo-img">
                <img src="/img/jobs/algo.jpg" alt="Algorithms" title="Algorithms" width="400" height="300">
            </div>
            <div class="recruitment-box recruitment-box-right" id="algo">
                <h3>Algorithms and architecture</h3>
                <p>&bdquo;Algorithms and architecture&rdquo; is a conversation about more abstract and high-level
                    aspects of
                    programming. Our starting point
                    is designing a system which adds a new feature to Allegro (proposed by the interviewer). We pay
                    attention to problem-solving skills and ability
                    to think about the whole system from both user and technical perspective. Knowledge of specific
                    technologies, while a welcome addition,
                    is not as important as those abilities. We ask questions about scalability, performance and
                    fault-tolerance of designed system.</p>
            </div>
            <div class="recruitment-img recruitment-img-left" id="hr-leader-img">
                <img src="/img/jobs/hr-leader.jpg" alt="HR/Leader" title="HR/Leader" width="400" height="300">
            </div>
            <div class="recruitment-box recruitment-box-left" id="hr-leader">
                <h3>HR/Leader</h3>
                <p>During this interview, we evaluate a candidate’s soft skills, including communication and teamwork
                    skills, focus on usability, analytical
                    thinking and work motivation. Moreover, we assess a candidate’s cultural fit in the workplace and to
                    the
                    team – whether they share similar
                    values and are able to align to our work standards. It is likely that the candidate’s future boss
                    will
                    take part in this meeting as well.</p>
            </div>
        </div>
        {% include jobs/engineers.html %}
    </div>
</section>
