---
layout: default
title: blog authors
---
<section id="main-content" class="section-blog responsive-content blue-bg">
    <header class="main-item">
        <h1 class="section-title">Authors</h1>
    </header>
 </section>
<section id="author" class="responsive-content">
    <div class="main-item">
        <ul class="post-author-list">
            {%assign authors = site.data.members | sort%}
            {% for author in authors%}
                {%assign authorKey = author[0]%}
                {%assign authorData = author[1]%}
                <li  class="post-author">
                    {% include single_author.html showLinkToPost=true %}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
