<article class="opensource-project">
    <a href="{{ include.repository.url }}">
        <h4>{{ include.repository.name }}</h4>
        <p class="repo-description">{{ include.repository.description }}</p>
    </a>
    <div class="star-gazers">
        <a href="{{ include.repository.url }}/stargazers">{{ include.repository.stars }}</a>
    </div>
    <ul class="repo-metadata">
        <li><a href="{{ include.repository.url }}">repo</a></li>
        {% if include.repository.metadata.docs %}<li><a href="{{ include.repository.metadata.docs }}">docs</a></li>{% endif %}
        {% if include.repository.metadata.contact %}<li><a href="{{ include.repository.metadata.contact }}">contact</a></li>{% endif %}
        {% if include.repository.metadata.twitter %}<li><a href="{{ include.repository.metadata.twitter }}">twitter</a></li>{% endif %}
    </ul>
</article>
