<article class="opensource-project">
    <a href="{{ projectRepo.url }}">
        <h4>{{ projectRepo.name }}</h4>
        <p class="repo-description">{{ projectRepo.description }}</p>
    </a>
    <div class="star-gazers">
        <a href="{{ projectRepo.url }}/stargazers">{{ projectRepo.stars }}</a>
    </div>
    <ul class="repo-metadata">
        <li><a href="{{ projectRepo.url }}">repo</a></li>
        {% if projectMetadata.docs %}<li><a href="{{ projectMetadata.docs }}">docs</a></li>{% endif %}
        {% if projectMetadata.contact %}<li><a href="{{ projectMetadata.contact }}">contact</a></li>{% endif %}
        {% if projectMetadata.twitter %}<li><a href="{{ projectMetadata.twitter }}">twitter</a></li>{% endif %}
    </ul>
</article>
