<div class="m-card">
    <h2>Our Engineers</h2>

    <p>The Allegro Tech team consists of more than 500 skilled and ambitious engineers who work in 5 locations:
        Poznań,
        Warsaw, Kraków, Toruń, and Wrocław.
        It's highly probable that you have already met some of them at meetups or conferences in Poland or
        abroad.
        Moreover, there's a chance that you are going to have a chat with them during our recruitment process.
        Find out what they think about Allegro as a workplace, and what drives them.</p>

    <section id="who-we-are" data-section-id="us" class="who-we-are">
        <div>
            <div class="who-we-are-container">
                <ul id="profiles">

                    <li class="profile active" data-index="0">
                        <div class="profile-image"
                             style="background-image:url('/img/jobs/engineers/adam-dubiel.jpg')"></div>
                        <div class="profile-text">
                            <h3>Adam Dubiel - Team Leader @ Allegro (Warsaw)</h3>
                            <p>I joined Allegro right before the microservice revolution. From this perspective
                                I
                                can see how much has changed and how
                                lucky I am to be part of that process. Currently I’m leading a team responsible
                                for
                                services that are fundamental to
                                our new architecture. My job is to make life of all our developers easier and
                                ensure
                                that the infrastructure is ready
                                to meet their demands. Despite exciting technologies and the huge scale, the
                                most
                                important thing at Allegro are the
                                people I work with, engineers and managers from whom I still have a lot to
                                learn.</p>
                        </div>
                    </li>

                    <li class="profile" data-index="1">
                        <div class="profile-image"
                             style="background-image:url('/img/jobs/engineers/dariusz-eliasz.jpg')"></div>
                        <div class="profile-text">
                            <h3>Dariusz Eliasz - BigData Platform Engineer @ Allegro (Toruń)</h3>
                            <p>Since my first days at Allegro I have had the opportunity to setup and work on
                                many
                                exciting projects. As a System Engineer
                                I was building infrastructural services like a log aggregation system. Later, as
                                a
                                Solutions Architect, I was involved
                                in migrating our platform to Service Oriented Architecture. Now I'm engaged in a
                                Hadoop data governance project and building
                                our BigData stack. It proves that Allegro is a great place where you never get
                                bored
                                because there are always
                                inspiring projects going on.</p>
                        </div>
                    </li>

                    <li class="profile" data-index="2">
                        <div class="profile-image"
                             style="background-image:url('/img/jobs/engineers/tomek-nurkiewicz.jpg')"></div>
                        <div class="profile-text">
                            <h3>Tomek Nurkiewicz - Senior Software Engineer @ Allegro (Warsaw)</h3>
                            <p>I spent half of my life programming (for the last decade professionally in Java
                                land). I'm disappointed with the quality
                                of software written these days (so often by myself!). I believe that computers
                                were
                                invented so that developers could
                                automate boring and repetitive tasks. I am involved in open source and used to
                                be
                                very active on StackOverflow.
                                Author, trainer, conference speaker, technical reviewer, and runner. I claim
                                that
                                code not tested automatically
                                is not a feature but just a rumour. Working on Allegro, a system of such great
                                scale, is both challenging and
                                fascinating. But I'm happy to be part of an amazing engineering team, people who
                                I
                                have a lot to learn from.</p>
                        </div>
                    </li>

                    <li class="profile" data-index="3">
                        <div class="profile-image"
                             style="background-image:url('/img/jobs/engineers/marcin-kliks.jpg')"></div>
                        <div class="profile-text">
                            <h3>Marcin Kliks - Team Leader @ Allegro (Poznań)</h3>
                            <p>My adventure at Allegro started in April 2012. Back then I was working on a
                                ground-breaking Open Source project – Ralph.
                                It is a system for managing Data Center infrastructure that helped us automate
                                work
                                of thousands of servers and
                                optimize the maintenance cost. I lead a team that develops software for managing
                                servers, databases and microservices. Every day, we look
                                for solutions that allow us to use the resources of our two Data Centers to
                                their
                                maximum, lower the cost and
                                conveniently automate tasks performed in Data Centers. Our goal is to provide
                                absolute scalability and ensure
                                that Allegro developers can deploy new functionalities for our users in no time.
                                Working with our infrastructure
                                is far from mundane. When integrating various systems you have to deal with many
                                programming languages such as
                                Python, Go, Java and even Swift. Moreover, the scale of Allegro provides
                                exciting
                                challenges,
                                where every 1% makes a difference.</p>
                        </div>
                    </li>

                    <li class="profile" data-index="4">
                        <div class="profile-image"
                             style="background-image:url('/img/jobs/engineers/adam-dudczak.jpg')"></div>
                        <div class="profile-text">
                            <h3>Adam Dudczak - Technical Team Manager @ Allegro (Poznań)</h3>
                            <p>I have worked with Java related technologies since 2004, and I joined Allegro
                                search
                                team about 3 years ago.
                                Developing the largest e-commerce search engine in Poland is both challenging
                                and
                                fun. Working as a full
                                stack search developer can be demanding as it requires a unique blend of
                                software
                                development, devops and
                                Big Data skills. I enjoy the atmosphere of restless technical curiosity which I
                                experience at Allegro.
                                I've never had a chance to work with such passionate developers before! You
                                learn
                                something interesting
                                in terms of software and product development all the time. Moreover, I support
                                Java
                                community in Poznań
                                as one of the leaders of Poznań JUG and as a co-organizer of GeeCON conference.
                                I am
                                a happy father of
                                three, and a lucky man who married a very patient woman.</p>
                        </div>
                    </li>

                    <li class="profile" data-index="5">
                        <div class="profile-image"
                             style="background-image:url('/img/jobs/engineers/piotr-wicherski.jpg')"></div>
                        <div class="profile-text">
                            <h3>Piotr Wicherski - Senior Software Test Engineer @ Allegro (Warsaw)</h3>
                            <p>I'm a certified software tester, and also a great enthusiast for all kind of
                                mobile
                                devices
                                and mobile operating systems. Currently I'm working on building our internal
                                mobile
                                device
                                lab as I can’t resist any new mobile technology. I manage a software testing
                                group
                                on Facebook
                                - Testowanie Oprogramowania and organize Polish QA Conference TestWarez. Mentor,
                                speaker and
                                organizer at: TestWarez, Automation Guild, Agile & Automation Days, TestingCup
                                and
                                many more.
                                What’s the best part about working at Allegro? It’s the attitude of mobile dev
                                teams,
                                their enthusiasm and great sense of humor!</p>
                        </div>
                    </li>

                    <li class="profile" data-index="6">
                        <div class="profile-image"
                             style="background-image:url('/img/jobs/engineers/piotr-guzik.jpg')"></div>
                        <div class="profile-text">
                            <h3>Piotr Guzik - Big Data Engineer @ Allegro (Warsaw)</h3>
                            <p>The most exciting thing at Allegro is dealing with huge traffic coming from
                                users.
                                Here every
                                decision may have an impact on millions of users. It means that we have to come
                                up
                                with scaling,
                                fast and evolving architecture that is ready for growing demand coming from our
                                customers.
                                I’m a DDD and deployment automation fan who is in love with Druid.io and machine
                                learning.
                                I consider myself a natural born speaker. After hours, I enjoy playing tennis or
                                taking
                                pictures of magnificent places from all over the world.</p>
                        </div>
                    </li>
                </ul>
                <div id="profiles-navigation">
                    <a href="#" class="profile-nav-element prev"></a>
                    <a href="#" class="person-link active" data-index="0">
                        <div style="background-image:url('/img/jobs/engineers/adam-dubiel.jpg')"></div>
                    </a>
                    <a href="#" class="person-link" data-index="1">
                        <div style="background-image:url('/img/jobs/engineers/dariusz-eliasz.jpg')"></div>
                    </a>
                    <a href="#" class="person-link" data-index="2">
                        <div style="background-image:url('/img/jobs/engineers/tomek-nurkiewicz.jpg')"></div>
                    </a>
                    <a href="#" class="person-link" data-index="3">
                        <div style="background-image:url('/img/jobs/engineers/marcin-kliks.jpg')"></div>
                    </a>
                    <a href="#" class="person-link" data-index="4">
                        <div style="background-image:url('/img/jobs/engineers/adam-dudczak.jpg')"></div>
                    </a>
                    <a href="#" class="person-link" data-index="5">
                        <div style="background-image:url('/img/jobs/engineers/piotr-wicherski.jpg')"></div>
                    </a>
                    <a href="#" class="person-link" data-index="6">
                        <div style="background-image:url('/img/jobs/engineers/piotr-guzik.jpg')"></div>
                    </a>
                    <a href="#" class="profile-nav-element next"></a>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript" src="/js/slides.min.js" defer></script>
