<div class="m-card">
    <h2>Our Engineers</h2>

    <p>The Allegro Tech team consists of more than a thousand skilled and ambitious engineers who work in 5 locations:
        Poznań, Warsaw, Kraków, Toruń, and Wrocław.
        It's highly probable that you have already met some of them at meetups or conferences in Poland or
        abroad.
        Moreover, there's a chance that you are going to have a chat with them during our recruitment process.
        Find out what they think about Allegro as a workplace, and what drives them.</p>

    <section id="who-we-are" data-section-id="us" class="who-we-are">
        <div>
            <div class="who-we-are-container">
                <ul id="profiles">

                    <li class="profile active" data-index="0">
                        <div class="profile-image"
                             style="background-image:url('/img/jobs/engineers/adam-dubiel.jpg')"></div>
                        <div class="profile-text">
                            <h3>Adam Dubiel - Team Leader @ Allegro (Warsaw)</h3>
                            <p>I joined Allegro right before the microservice revolution. From this perspective
                                I
                                can see how much has changed and how
                                lucky I am to be part of that process. Currently I’m leading a team responsible
                                for
                                services that are fundamental to
                                our new architecture. My job is to make life of all our developers easier and
                                ensure
                                that the infrastructure is ready
                                to meet their demands. Despite exciting technologies and the huge scale, the
                                most
                                important thing at Allegro are the
                                people I work with, engineers and managers from whom I still have a lot to
                                learn.</p>
                        </div>
                    </li>

                    <li class="profile" data-index="1">
                        <div class="profile-image"
                             style="background-image:url('/img/jobs/engineers/dariusz-eliasz.jpg')"></div>
                        <div class="profile-text">
                            <h3>Dariusz Eliasz - BigData Platform Engineer @ Allegro (Toruń)</h3>
                            <p>Since my first days at Allegro I have had the opportunity to setup and work on
                                many
                                exciting projects. As a System Engineer
                                I was building infrastructural services like a log aggregation system. Later, as
                                a
                                Solutions Architect, I was involved
                                in migrating our platform to Service Oriented Architecture. Now I'm engaged in a
                                Hadoop data governance project and building
                                our BigData stack. It proves that Allegro is a great place where you never get
                                bored
                                because there are always
                                inspiring projects going on.</p>
                        </div>
                    </li>

                    <li class="profile" data-index="2">
                        <div class="profile-image"
                             style="background-image:url('/img/jobs/engineers/marcin-kliks.jpg')"></div>
                        <div class="profile-text">
                            <h3>Marcin Kliks - Team Leader @ Allegro (Poznań)</h3>
                            <p>My adventure at Allegro started in April 2012. Back then I was working on a
                                ground-breaking Open Source project – Ralph.
                                It is a system for managing Data Center infrastructure that helped us automate
                                work
                                of thousands of servers and
                                optimize the maintenance cost. I lead a team that develops software for managing
                                servers, databases and microservices. Every day, we look
                                for solutions that allow us to use the resources of our two Data Centers to
                                their
                                maximum, lower the cost and
                                conveniently automate tasks performed in Data Centers. Our goal is to provide
                                absolute scalability and ensure
                                that Allegro developers can deploy new functionalities for our users in no time.
                                Working with our infrastructure
                                is far from mundane. When integrating various systems you have to deal with many
                                programming languages such as
                                Python, Go, Java and even Swift. Moreover, the scale of Allegro provides
                                exciting
                                challenges,
                                where every 1% makes a difference.</p>
                        </div>
                    </li>

                    <li class="profile" data-index="3">
                        <div class="profile-image"
                             style="background-image:url('/img/jobs/engineers/adam-dudczak.jpg')"></div>
                        <div class="profile-text">
                            <h3>Adam Dudczak - Technical Team Manager @ Allegro (Poznań)</h3>
                            <p>I have worked with Java related technologies since 2004, and I joined Allegro
                                search
                                team about 3 years ago.
                                Developing the largest e-commerce search engine in Poland is both challenging
                                and
                                fun. Working as a full
                                stack search developer can be demanding as it requires a unique blend of
                                software
                                development, devops and
                                Big Data skills. I enjoy the atmosphere of restless technical curiosity which I
                                experience at Allegro.
                                I've never had a chance to work with such passionate developers before! You
                                learn
                                something interesting
                                in terms of software and product development all the time. Moreover, I support
                                Java
                                community in Poznań
                                as one of the leaders of Poznań JUG and as a co-organizer of GeeCON conference.
                                I am
                                a happy father of
                                three, and a lucky man who married a very patient woman.</p>
                        </div>
                    </li>

                    <li class="profile" data-index="4">
                        <div class="profile-image"
                             style="background-image:url('/img/jobs/engineers/kamil-borzym.jpg')"></div>
                        <div class="profile-text">
                            <h3>Kamil Borzym - Senior Software Engineer @ Allegro (Warsaw)</h3>
                            <p>I joined Allegro as an iOS developer when mobile apps were considered to be only
                                hipster toys. Today, more than a half of Allegro traffic comes from mobile devices.
                                I have the privilege of working with amazing people on one of the largest personal
                                shopping assistant apps in Europe. Working with such a huge scale is incredible,
                                because every little decision can impact millions of users. By getting the things
                                right, we can make people's lives easier.</p>
                            <p>I love low-level stuff and reverse engineering. I think it is wrong to call these things
                                "useless knowledge". It should be the developer's personal duty to understand how
                                computers work. At Allegro I can make use of this knowledge.</p>
                        </div>
                    </li>
                </ul>
                <div id="profiles-navigation">
                    <a href="#" class="profile-nav-element prev"></a>
                    <a href="#" class="person-link active" data-index="0">
                        <div style="background-image:url('/img/jobs/engineers/adam-dubiel.jpg')"></div>
                    </a>
                    <a href="#" class="person-link" data-index="1">
                        <div style="background-image:url('/img/jobs/engineers/dariusz-eliasz.jpg')"></div>
                    </a>
                    <a href="#" class="person-link" data-index="2">
                        <div style="background-image:url('/img/jobs/engineers/marcin-kliks.jpg')"></div>
                    </a>
                    <a href="#" class="person-link" data-index="3">
                        <div style="background-image:url('/img/jobs/engineers/adam-dudczak.jpg')"></div>
                    </a>
                    <a href="#" class="person-link" data-index="4">
                        <div style="background-image:url('/img/jobs/engineers/kamil-borzym.jpg')"></div>
                    </a>
                    <a href="#" class="profile-nav-element next"></a>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript" src="/js/slides.min.js" defer></script>
