<script type="text/javascript">var submitted=false;</script>
    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='thank-you.html';}"></iframe>

<footer class="contact-form">
        <h1>contact us</h1>
        <form action="https://docs.google.com/forms/d/1w8FtXjZ5mN8a6Q0JyWb1zR-ShBAJ0sY5MTv_PCW2S4s/formResponse" method="post" autocomplete="off" target="hidden_iframe" onsubmit="submitted=true;">
            <input type="hidden" name="entry.958436194" value="{{ page.role }}" />

            <div class="row">
                <label for="entry_478479350">Your name</label>
                <input id="entry_478479350" name="entry.478479350" type="text" required placeholder="How shall we call you?">
            </div>

            <div class="row">
                <label for="entry_1336286364">Contact data</label>
                <textarea id="entry_1336286364" name="entry.1336286364" required placeholder="Your email, phone number... anything that will help us get in touch with you :)"></textarea>
            </div>
            <p> <label class="job-add-confirm"><input type="checkbox" required name="entry.898167421" value="accepted" id="group_898167421_1"> Rejestrując się wyrażasz zgodę na przetwarzanie swoich danych osobowych przez Grupę Allegro sp. z o.o.,
do celów prowadzenia rekrutacji, na podstawie przepisów ustawy o ochronie danych osobowych.</label>
            </p>
            <button type="submit">Send!</button>
        </form>
    </footer>
</div>
