<script type="text/javascript">var submitted=false;</script>
    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='thank-you.html';}"></iframe>

<footer class="contact-form">
        <h1>contact us</h1>
        <div class="recruiter">
            <img src="/img/jobs/katarzyna-wisniewska.jpg">
            <div class="recruiter-name">
                <h3>Poznań, Toruń</h3>
                Katarzyna Wiśniewska
                <a href="mailto:kasia@allegro.tech">kasia@allegro.tech</a>
            </div>

        </div>
        <div class="recruiter">
            <img src="/img/jobs/adrian-blaszkowski.jpg">
            <div class="recruiter-name">
                <h3>Warszawa, Kraków</h3>
                Adrian Błaszkowski
                <a href="mailto:adrian@allegro.tech">adrian@allegro.tech</a>
            </div>
        </div>
    </footer>
</div>
