---
layout: default
footer: false
title: Allegro Tech Blog
---

        {%assign authorKey = page.author %}
        {%assign authorData = {{site.data.members[page.author] %}

<section>
    <header class="post-header">
        <div class="content"><h1 class="post-title">All posts by {{authorData.name}}</h1>
                <div class="post-meta"><ul class="breadcrumb">
                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="/authors" itemprop="url"><span itemprop="title">Authors</a></span>
                    </li>
                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    {% for author in page.author %}
                      <span itemprop="title">{{site.data.members[author].name}}</span>
                    {% endfor %}
                    </li>
                    </ul>
                </div>
        </div>
    </header>
 </section>

<section class="section-posts">
<div class="content">
	{% assign index = true %}
        <ul class="posts">
        {% for post in site.posts %}
            {% if post.author contains page.author %}
                <li>{% include single_post.html hideAuthor = true %}</li>
            {% endif %}
        {% endfor %}
       </ul>
</div>
</section>

<section id="author">
    <div class="content post-author">
        {% include single_author.html %}
    </div>
</section>


