---
layout: default
title: blog authors
---

{%assign authorKey = page.author %}
{%assign title = page.author %}
{%assign authorData = site.data.members[page.author] %}

<section id="main-content">
    <header class="post-header responsive-content">
        <div class="main-item">
            <h1 class="post-title">All posts by {{authorData.name}}</h1>
            <div class="post-meta">
                <ul class="breadcrumb">
                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="{{site.baseurl}}/authors" itemprop="url"><span itemprop="title">Authors</span></a>
                    </li>
                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        {% for author in page.author %}
                        <span itemprop="title">{{site.data.members[author].name}}</span>
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
    </header>
</section>

<section class="section-posts responsive-content">
    <div class="main-item">
        {% assign index = true %}
        <section class="posts">
            {% for post in site.posts %}
            {% if post.author contains page.author %}
            <article>{% include single_post.html hideAuthor = true %}</article>
            {% endif %}
            {% endfor %}
        </section>
    </div>
</section>

<section id="author" class="responsive-content">
    <div class="post-author main-item">
        {% include single_author.html %}
    </div>
</section>
