---
layout: default
---
<div class="post">
    <header class="post-header" style="background-image: url('../img/events/header-image.jpg');">
        <div class="content">
            <time class="entry-date" datetime="{{ page.date }}">
                <span>{{ page.time | slice: 0, 10| date: "%A, <strong>%b %-d</strong> %Y,  %I:%M %p" }}
                </span>
            </time>
            <h1 class="post-title" itemprop="headline">{{ page.title }}</h1>
            <div class="post-meta">
                <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="{{ site.url }}/events" itemprop="item">
                            <span itemprop="name">allegro.tech events</span>
                        </a>
                    </li>
                    <li>
                        <span>{{ page.venue_name }}, {{ page.venue_address_1 }}, {{ page.venue_city }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <article class="post-content">
        <div class="content">

            <p>
                <img src="/img/octicons/calendar.svg"/>
                {{ page.time | slice: 0, 10| date: "%A, <strong>%b %-d</strong> %Y" }}
            </p>

            <p>
                <img src="/img/octicons/clock.svg"/>
                {{ page.time | slice: 0, 10| date: "%I:%M %p" }}
            </p>

            <p>
                <img src="/img/octicons/location.svg"/>
                {{ page.venue_name }},{{ page.venue_address_1 }}, {{ page.venue_city }}
            </p>

            <h2 style="margin-top: 20px">Event details</h2>
            {{ content }}

        </div>
    </article>
</div>
