<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="jobs-site">
    {% include header.html %}
	{{ content }}
    {% include footer.html %}
	<script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
    <script type="text/javascript" src="/js/jobs.js" defer></script>
    <script type="text/javascript" src="/js/slides.min.js" defer></script>
    {% include scripts.html %}
  </body>
</html>
