---
layout: default
title: podcast page
---

{%assign slug = page.slug %}
{%assign dict = site.data.podcast.dict %}
{%assign podcasts = site.data.podcast.podcasts | where: "slug", slug %}


{%for podcast in  podcasts %}

<header class="post-header post-header-podcast">
    <div class="content">
        <time class="entry-date" datetime="{{ podcast.date}}"><span>{{ podcast.date | date: "<strong>%b %-d</strong> %Y" }}</span>
        </time>
        <h1 class="post-title" itemprop="headline">{{podcast.title}}</h1>
        <h2>{{podcast.name}}</h2>
    </div>
</header>

<div class="desk">
    <section class="content">
      <div class="m-card" itemtype="http://schema.org/PodcastEpisode">
          {% for link in podcast.platforms %}
          {%assign platform = link[0] %}
          {% if platform == "buzzsprout" %}
            <div id="buzzsprout-player-2799460">
              <iframe src="{{link[1]}}?client_source=small_player&amp;iframe=true" scrolling="no" width="100%" height="200" frameborder="0"></iframe>
            </div>
          {% endif %}
          {% endfor %}
          <div class="cover-card">
              <div itemprop="description" class="podcast-description">
                  {{podcast.desc}}
                  <ul class="podcast-toc">
                      {% for item in podcast.toc%}
                      <li>{{item}}</li>
                      {% endfor %}
                  </ul>
              </div>
          </div>
          {% if podcast.platforms%}
          <ul class="podcast-icons">
              {% for link in podcast.platforms %}
              {%assign platform = link[0] %}
              {% if platform == "buzzsprout" %}
              {%else%}
              <li class="podcast-icon podcast-{{ platform }}" itemprop="url">
                  <a href="{{ link[1] }}"><img alt="platform" src="/img/podcast/icons/{{ platform }}.svg"/>
                      {{dict[platform]}}
                  </a>
              </li>
              {% endif %}
              {% endfor %}
          </ul>
          {%endif%}
      </div>

        {% if podcast.links%}
        <div class="m-card">
            <h3>Linki</h3>
            <ol>
                {% for item in podcast.links%}
                <li><a href="{{item[1]}}">{{item[0]}}</a></li>
                {% endfor %}
            </ol>
        </div>
        {%endif%}
    </section>
</div>
<section id="author" class="post-author">
    {% for author in podcast.author %}
    <div class="content">
        {%assign authorKey = author%} {%assign authorData = site.data.members[author] %}
         {% include single_author.html showLinkToPost=false %}
    </div>
    <div class="content">
        {%assign authorKey = 'piotr.betkier'%} {%assign authorData = site.data.members['piotr.betkier'] %}
         {% include single_author.html showLinkToPost=false %}
    </div>
    {% endfor %}
</section>
{%endfor%}
