---
layout: default
---
<section class="post" itemscope itemtype="http://schema.org/TechArticle">
    <header class="post-header">
        <div class="content">
            <time class="entry-date" datetime="{{ page.date}}"><span>{{ page.date | date: "<strong>%b %-d</strong> %Y" }}</span>
            </time>
            <h1 class="post-title" itemprop="headline">{{ page.title }}</h1>

            <div class="post-meta">
                <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="{{ site.url }}" itemprop="item"><span itemprop="name">allegro.tech blog</span></a>
                    </li>
                    <li class="authors" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        {% for author in page.author %}
                        <a href="{{ site.url }}/authors/{{author}}"
                           itemprop="item">{{site.data.members[author].name}}</a>
                        <meta itemprop="name" content="{{site.data.members[author].name}}"/>
                        {% endfor %}
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <link href="{{site.url}}{{ page.url }}" itemprop="item">
                        <span itemprop="name">{{ page.title }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <meta itemprop="keywords" content="{{ page.tags | join: ', ' }}">
    <meta itemprop="datePublished" content="{{ page.date }}">
    <meta itemprop="image" content="{{ site.url }}/img/logo-allegro-tech.png">

    <article class="post-content" itemprop="articleBody">
        <div class="content"> {{ content }}</div>
    </article>
</section>
<section id="author" class="post-author">
    {% for author in page.author %}
    <div class="content">
        {%assign authorKey = author%}
        {%assign authorData = site.data.members[author] %}
        {% include single_author.html showLinkToPost=true %}
    </div>
    {% endfor %}
</section>

<section class="comments">
    <div class="content">
        <div class="site-navlist social-icons">
            <ul>
                <li><strong>Share this post</strong></li>
                <li><a class="share-button social icon-link" href="https://plus.google.com/share?url={{site.url}}{{page.url}}">
                    <img src="/img/social/google.svg" alt="Google+">
                   </a>
                </li>
                <li><a class="share-button social icon-link"
                    href="https://twitter.com/intent/tweet?url={{site.url}}{{page.url}}&amp;text={{page.title}} by @allegrotech">
                    <img src="/img/social/twitter.svg" alt="Twitter"></a>
                </li>
                <li><a class="share-button social icon-link"
                       href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}">
                   <img src="/img/social/facebook.svg" alt="Facebook"></a>
                </li>
            </ul>
        </div>
    </div>
    <div id="disqus_thread" class="content"></div>
</section>
<script>
    (function () {
        const dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = "//allegrotechio.disqus.com/embed.js";
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
