@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Open+Sans:300,400,600,700&subset=latin,latin-ext&display=swap');
@import 'metrum.scss';

body {
  margin: 0;
  padding: 81px 0 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
  }
}

:root {
  --m-color-link: hsl(183, 54%, 50%);
  --m-color-link-visited: hsl(183, 54%, 50%);
  --m-color-link-hover: hsl(183, 54%, 50%);
}

@media (prefers-color-scheme: dark) {
  .m-button--secondary:active {
    background-image: radial-gradient(circle,hsla(0,0%,87%,.1) 1%,hsla(0,0%,100%,0) 0);
  }
}